.app {
    margin: 20px auto;
}

/* todos */

.list-container {
    display: flex;
    justify-content: space-around;
}

.task {
    text-align: center;
    font-weight: 550;
    margin: 5px 0;
}

.task:hover {
    cursor: pointer;
}

.selected {
    text-decoration: line-through;
}

/* form */

.form-container {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 3%;
    border: 2px solid;
}

input {
    text-align: center;
    margin: 5px;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 2%;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    font-weight: 700;
    margin: 10px 0 5px 0;
    width: 80px;
    height: 25px;
    border: 2px solid;
    background-color: white;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    color: white;
    border: 2px solid black;
    background-color: black;
}